[diff "sqlite3"]
  binary = true
  textconv = "echo .dump | sqlite3"

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[color]
  ui = true
  status = auto
  branch = auto
[push]
  default = current
  recurseSubmodules = check
[diff]
  tool = v -d
[difftool]
  prompt = false


[alias]
  wip = commit --no-verify -am "wip"
  ci = commit
  co = checkout
  cp = cherry-pick
  wt = worktree
  br = branch
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue(%an)%Creset' --abbrev-commit --date=relative
  grep = grep -n
  d = difftool
  st = status --short --branch
  pp = !sh -c 'git pull && git push'

[user]
	email = fre@freux.fr
	name = Valentin Reis
[credential "https://github.com"]
	helper = 
	helper = !/home/vreis/.cache/hermit/pkg/gh-2.67.0/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/vreis/.cache/hermit/pkg/gh-2.67.0/gh auth git-credential
